* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    background-color: #1F2937;
    color: white;
    height: 280px;
    flex-shrink: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 8px 0;
    height: 20%;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
}

.links a {
    text-decoration: none;
    color: white;
}

.links a:not(:last-child) {
    padding-right: 8px;
}

.links a:hover {
    color: lightblue;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 80%;
    padding-bottom: 50px;
    flex-shrink: 1;
}

.header-information {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.header-content hr {
    width: 270px;
}

.header-img {
    width: auto;
    height: 150px;
}

.sign-up {
    font-size: 12px;
    padding: 6px;
    border-radius: 5px;
    border: 2px solid black;
    width: 140px;
    align-self: self-start;
    cursor: pointer;
    transition: .5s;
    text-wrap: nowrap;
    animation: myborder 4s infinite;
    background-color: beige;
    font-weight: 500;
}

.sign-up:hover {
    background-color:lightblue;
    color: white;
    width: 150px;
}

@keyframes myborder {
    15% {border-color: red;}
    30% {border-color: orange;}
    45% {border-color: yellow;}
    60% {border-color: chartreuse;}
    75% {border-color: blue; }
    90% {border-color: purple;}
  }

.header-content p {
    font-size: 12px;
}

/* ^^^^^^^ header ^^^^^^^^ */


